{% extends "app/base1.html" %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Candidate Profile</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{% url 'homepage' %}" class="text-uppercase font-weight-bold">Home</a></li>
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Candidate Profile</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- POST A JOB START -->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="rounded shadow bg-white p-4">
                        <div class="custom-form">
                            <div id="message3"></div>
                            <form method="POST" action="{% url 'updateprofile' pk=request.session.id %}" name="contact-form" id="contact-form3" enctype="multipart/form-data">
                            {% csrf_token %}
                                <h4 class="text-dark mb-3">Update Profile :</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Firstname</label>
                                            <input id="firstname" name="firstname" type="text" class="form-control resume" placeholder="Enter Firstname" value="{{can.firstname}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Lastname</label>
                                            <input id="lastname" name="lastname" type="text" class="form-control resume" placeholder="Enetr Lastname" value="{{can.lastname}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Job Type</label>
                                            {% if can.job_type %}
                                            <div class="form-button">
                                                <input id="jobtype" name="jobtype" type="text" class="form-control resume" placeholder="Enetr Job Type" value="{{can.job_type}}">
                                            </div>
                                            {% else %}
                                            <div class="form-button">
                                                <select class="nice-select rounded" name="jobtype">
                                                    <option data-display="Job Type">Job Type</option>
                                                    <!-- <option value="1">Full Time</option>
                                                    <option value="2">Part Time</option> -->
                                                    <option value="Full Time">Full Time</option>
                                                    <option value="Part Time">Part Time</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Job Category</label>
                                            <div class="form-button">
                                                <input id="jobcategory" name="jobcategory" type="text" class="form-control resume" placeholder="Enter Job Category" value="{{can.jobcategory}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">City</label>
                                            <input id="city" type="text" class="form-control resume" placeholder="Enetr Cityname" name="city" value="{{can.city}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">State</label>
                                            <input id="state" type="text" class="form-control resume" placeholder="Enetr Statename" name="state" value="{{can.state}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Minimum Salary</label>
                                            <input id="minsalary" type="text" class="form-control resume" placeholder="Enter Min Salary" name="minsalary" value="{{can.min_salary}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Maximum Salary</label>
                                            <input id="maxsalary" type="text" class="form-control resume" placeholder="Enter Max salary" name="maxsalary" value="{{can.max_salary}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Education Level</label>

                                            <div class="form-button">
                                                <input id="highestedu" name="highestedu" type="text" class="form-control resume" placeholder="Enter Education Level" value="{{can.highestedu}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Year of Experience</label>
                                            <div class="form-button">
                                                <input id="experience" name="experience" type="text" class="form-control resume" placeholder="Enetr Your Experience" value="{{can.experience}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Website</label>
                                            <input id="website" type="url" class="form-control resume" placeholder="Enter Your Website" name="website" value="{{can.website}}" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Email Address</label>
                                            <input id="email" type="text" class="form-control resume" placeholder="Enetr email Address" name="email" value="{{user.email}}" >
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            {% if error %}
                                            <div class="alert alert-danger" role="alert">
                                               {{error}} 
                                            </div>
                                            {% endif %}
                                            <label class="text-muted">Contact</label>
                                            <input id="contact" type="text" class="form-control resume" placeholder="Enetr Your contact" name="contact" value="{{can.contact}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Gender</label>
                                            {% if can.gender %}
                                            <div class="form-button">
                                                <input id="gender" name="gender" type="text" class="form-control resume" placeholder="Select Your gender" value="{{can.gender}}">
                                            </div>
                                            {% else %}
                                            <div class="form-button">
                                                <select class="nice-select rounded" name="gender" >
                                                    <option data-display="Gender">Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Shift</label>
                                            {% if can.shift %}
                                            <div class="form-button">
                                                <input id="shift" name="shift" type="text" class="form-control resume" placeholder="Select Shift" value="{{can.shift}}">
                                            </div>
                                            {% else %}
                                            <div class="form-button">
                                                <select class="nice-select rounded" name="shift">
                                                    <option data-display="Shift">Shift</option>
                                                    <option value="Morning">Morning</option>
                                                    <option value="Day">Day</option>
                                                    <option value="Evening">Evening</option>
                                                </select>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Jobdescription</label>
                                            <input id="jobdescription" type="text" class="form-control resume" placeholder="Enetr Jobdescription" name="jobdescription" value="{{can.jobdescription}}">
                                        </div>
                                       
                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="profile_pic" aria-describedby="inputGroupFileAddon01" name="profilepic" value="{{can.profile_pic}}" >
                                                        <label class="custom-file-label rounded"><i class="mdi mdi-cloud-upload mr-1"></i> Upload Files</label>
                                                    </div>
                                                </div>
                                            </li>
                                            {% comment %} <li class="list-inline-item">
                                                <h6 class="text-muted mb-0">Upload Images Or Documents.</h6>
                                            </li> {% endcomment %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 mt-2">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <!-- <a role="button" class="btn btn-primary" type="submit">Save</a> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Template Pages Load -->
{% endblock %}