{% extends "app/company/base1.html" %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        
                            <h1><li class="breadcrumb-item active">Job Post List</li></h1>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class=""></i>
                                <h1>Job Post List</h1>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            <th>Epaeriencxe</th>
                                            <th>Salary Package</th>
                                            <th>Company Website</th>
                                            <th>Company Logo</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            <th>Epaeriencxe</th>
                                            <th>Salary Package</th>
                                            <th>Company Website</th>
                                            <th>Company Logo</th>
                                        </tr>
                                    </tfoot>
                                    {% if all_job %}
                                    <tbody>
                                        {% for i in all_job %}
                                        <tr>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.companyname}}</td>
                                            <td>{{i.location}}</td>
                                            <td>{{i.experience}}</td>
                                            <td>{{i.salarypackage}}</td>
                                            <td>{{i.companywebsite}}</td>
                                            <td>{{i.logo_pic}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
               
{% endblock %}